*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.container{
    background-color: rgba(29, 103, 29, 0.858);
    width:100% ;
    border-radius: 2px;
    
}

#logo{
    padding-left: 40px;
}

nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: rgb(249, 249, 249);
    font-size: 18px;
    padding: 0px 10px;
    line-height: 100px;
}



nav ul li  #active{
    background-color: rgba(5, 255, 5, 0.772) ;
    transition: .5s;
    border-radius: 5px;
}
nav ul li  a:hover{
    background-color: rgba(5, 255, 5, 0.292) ;
    transition: .5s;
    border-radius: 5px;
}



.kitchen{
    
    
    background-image: url('rest bg.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: white;
    vertical-align: middle;
    align-items: center;
    min-width: 200px ;
    border-radius: 5px;
}
.heading1{
    font-size: 80px;
    text-align: center;
    padding-top: 150px;
}
.p1{
    text-align: center;
    font-size: 27px;
}

.heading2{
    background-color: grey;
    color: rgb(0, 26, 255);
    margin: 20px 0px;
    font-size: 25px;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}
.menu1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.menu-item{
    width:30% ;
    margin: 10px;
    padding: 10px;
    background-color:rgba(211, 211, 211, 0.667) ;
    border-radius: 8px;
}



.name{
    color: red;
    text-align: center;
    font-size: 30px;
}

#price{
    font-size: 18px;
    color: rgb(255, 0, 128);
}

.footer{
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#line1{
    font-size: 25px;
    
}
#line2{
    font-size: 16px;
    
}

.foot{
    width: 32%;
}

@media only screen and (max-width: 600px){
   
}
@media only screen and (max-width: 500px) {
    #logo{
        padding-left: 0px;
    }
    .menu1{
        flex-direction: column;
    }
    .menu-item{
        width: 90%;
    }
    .foot{
      width:  50%
    }
}

@media only screen and (max-width:400px){
    #logo{
        padding-left: 40%;
    }   
}

    @media only screen and (max-width: 325px)
       { nav ul{
            display: none;
            }}
       
       
    

 


